.navigationBar {
    height: 100dvh;
    width: 4.2rem;
    border-right: 1px solid #b3b2b2;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(8, 1fr);
    grid-area: sidebar;
    background: var(--white);
}

.wrapperBtn {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s;
    position: relative;
}

.wrapperBtn:hover {
    border-radius: 50px;
    background: #e4e3e3;
    transform: scale(.95, .95);
}