.navigationBar {
    height: 100dvh;
    width: 4.2rem;
    border-right: 1px solid #b3b2b2;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(10, 1fr);
    grid-area: sidebar;
    background: var(--white);

    & button {
        border: none;
        outline: none;
        background-color: none;
    }

    & :nth-child(4) {
        grid-row: 5/6;
    }

    & :nth-child(5) {
        grid-row: 6/7;
    }

    & :nth-child(6) {
        grid-row: 9/10;
    }

    & :nth-child(7) {
        grid-row: 10/11;
    }
}

.wrapperBtn {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s;
    position: relative;

    & svg {
        fill: var(--black18);
    }

    &:hover {
        cursor: pointer;
        border-radius: 50px;
        background: var(--bg);
        transform: scale(.95, .95);

        & svg {
            fill: var(--mainColor);
        }
    }
}