.mainFare {
    height: 100%;
    padding: 4rem 0 0 2rem;
    grid-area: main;
}

.wrapperWelcomeText {
    gap: 6px;
    display: flex;
    flex-direction: column;

    & h1 {
        letter-spacing: -1px;
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--black18);
    }

    & p {
        font-size: 18px;
        padding-right: 2px;
        font-weight: 400;
        color: var(--fr-descriptions);
    }
}

@media (max-width: 664px) {
    .mainFare {
        height: 100%;
        padding: 4rem 0 0 0;
        grid-area: main;
    }

    .wrapperWelcomeText {
        padding-left: 2rem;
    }
}