.mainFare {
	height: 100%;
	padding: 4rem 0 0 2rem;
	grid-area: main;
}

.wrapperWelcomeText {
	gap: 6px;
	display: flex;
	flex-direction: column;

	& h1 {
		letter-spacing: -1px;
		font-size: 2.5rem;
		font-weight: 600;
		color: var(--black18);
	}

	& p {
		font-size: 18px;
		padding-right: 2px;
		font-weight: 400;
		color: var(--frWelcomeMessage);
	}
}

@media (max-width: 664px) {
	.mainFare {
		height: 100%;
		padding: 4rem 0 0 0;
		grid-area: main;
	}

	.wrapperWelcomeText {
		padding-left: 2rem;
	}
}

.containerTasks {
	background: none;
}

.wrapperTasks {
	margin-top: 2rem;
	padding: 0 3rem;
	padding-bottom: 6rem;
	display: grid;
	gap: 2rem 3.8rem;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	align-items: center;
	justify-items: center;
}

.task {
	margin: 18px;
	width: 20.5rem;
	padding: 1.2rem;
	border-radius: 14px;
	/* border: 2px dashed #818181; */
	box-shadow: 0px 3px 20px #00000014;
	background: var(--bgTask);
}

.taskBody {
	--max-lines: 4;
	--line-height: 1.6;

	width: 16rem;
	border-radius: 12px;
	text-align: start;
	margin-top: 6px;
	margin-bottom: 8px;
	max-height: calc(var(--max-lines) * 1em * var(--line-height));
	line-height: var(--line-height);
	overflow: hidden;
	position: relative;

	& h2 {
		margin-bottom: 8px;
		font-size: 22px;
		font-weight: 800;
		letter-spacing: -0.5px;
		pointer-events: none;
		color: var(--mainColor);
	}

	& p:nth-child(2) {
		font-size: 18px;
		pointer-events: none;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

.taskBody:has(+ .btnToggleTask:not(:checked))::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: calc(1.6em * var(--line-height));
	width: 100%;
	background: linear-gradient(to bottom, transparent, var(--bgFadeEffect));
	z-index: 10;
}

.btnToggleTask {
	appearance: none;
	min-width: 100%;
	min-height: 44px;
	margin-top: 8px;
	padding: 4px 12px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--frBtnExpand);
	background-color: var(--bgBtnExpand);
}

.btnToggleTask::before {
	content: "Expandir";
}

.btnToggleTask:checked::before {
	content: "Ver menos";
}

/* Now the has selector goes in action */
.taskBody:has(+ .btnToggleTask:checked) {
	max-height: none;
}

.wrapperTaskBtns {
	display: grid;
	gap: 14px;
	margin-top: .5rem;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	overflow: visible;
}

.btnCopy,
.btnFavorites {
	height: 48px;
	border-radius: 8px;
	gap: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	color: var(--black18);
	background-color: var(--bgBtnExpand);
	transition: transform .7s;

	&:hover {
		cursor: pointer;
		transform: scale(0.9, 0.9);
	}
}


.btnCompleteTask {
	height: 46px;
	width: 100%;
	border-radius: 8px;
	font-weight: 500;
	border: none;
	outline: none;
	color: #fff;
	border: none;
	outline: none;
	background: linear-gradient(to top right, #3b59d4, #6681ed);
	transition: transform .7s;
	-webkit-user-select: all !important;
	user-select: all !important;

	&:hover {
		cursor: pointer;
		transform: scale(.9, .9);
	}
}

.popupDeleteTask {
	width: 19rem;
	padding: 2rem 2rem 1.6rem 2rem;
	display: flex;
	gap: 14px;
	flex-direction: column;
	position: fixed;
	border: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 12px;
	z-index: var(--zIndexPopup);
	color: var(--black18);
	background-color: var(--bgModal);
	box-shadow: 0 4px 10px #0000000a;

	& h4 {
		font-size: 22px;
		text-align: center;
	}

	& p {
		padding: 12px;
		border-radius: 12px;
		line-height: 1.5;
		text-align: center;
		border: 1px solid var(--borderInputNewTaskDescription);
		background-color: var(--bgInputModal);
	}

	& footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: .8rem;
	}

	& button {
		height: 48px;
		border: none;
		border-radius: 8px;
		font-weight: 500;
		color: var(--frBtnExpand);
		background-color: var(--ff);
		box-shadow: 0px 5px 15px -6px #0000001a;
		transition: transform .7s;

		&:hover {
			transform: scale(0.97, 0.97);
			cursor: pointer;
		}
	}

	& button:last-child {
		gap: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none;
		color: white;
		background: linear-gradient(to bottom left, #ff8282, #ff1111);
	}
}

.overlayDelete {
	height: 100%;
	width: 100%;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--zIndexOverlay);
}

.containerNoTasks {
	height: 10rem;
	width: 100%;
	margin: 2.5rem 0 3.4rem 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
	font-size: 1.1rem;
	font-weight: 400;
	justify-content: center;
	align-items: center;

	& svg {
		color: var(--mainColor);
	}

	& span {
		font-size: 2rem;
	}
}