@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  /* colors */
  --mainColor: #0ca678;
  --mainColor-tint: #12b886;
  --mainColor-shade: #099268;
  --18: #181818;
  --bg: #f2f2f7;
  --ff: #fff;

  /* components */
  --bg__btn-expand: #f2f2f7;
  --color__btn-expand: #181818;

  --bg__modal: #f2f2f7;
  --bg__modal-input: #fff;
  --bg__modal-input-border: #c9c9c9;

  --border__task: #c9c9c9;

  /* border */
  --border-wrapper-input-loginMail: #a8a8a8;
  --border-wrapper-input-loginPass: #a8a8a8;
  /* shadows */
}

::selection {
  background-color: var(--mainColor);
  color: var(--ff);
}

::-moz-selection {
  background-color: var(--mainColor);
  color: var(--ff);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--18);
  background-color: var(--bg);
}

button {
  font-size: 16px;
}

button,
input {
  font-family: 'Inter', sans-serif;
  color: var(--18);
  background-color: var(--bg);
}

input,
textarea {
  caret-color: var(--mainColor-shade);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.container-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}

.login {
  height: 26rem;
  width: 19rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: #181818;
  background-color: #fff;
  box-shadow: 0px 10px 20px 5px rgba(31, 209, 79, 0.17);
}

.login img {
  align-self: center;
  height: 96px;
}

.login-h1 {
  letter-spacing: -1px;
  text-align: center;
  overflow-y: hidden;
}

.login-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.login-formLabel {
  margin-bottom: 6px;
  font-size: 18px;
  letter-spacing: -.4px;
  font-weight: 600;
  overflow-y: hidden;
}

.wrapper-login-inputMail,
.wrapper-login-inputPass {
  width: 100%;
  margin-bottom: 18px;
  padding-left: 10px;
  border-radius: 10px;
  border: 2px solid var(--border-wrapper-input-loginMail);
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #fff;
}

.wrapper-login-inputPass {
  border: 2px solid var(--border-wrapper-input-loginPass);
}

.input-password,
.input-mail {
  height: 2.4rem;
  width: 100%;
  padding: 0 6px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #181818;
  background-color: #fff;
}

.input-iconMail,
.input-iconPass {
  height: 25px;
  color: var(--border-wrapper-input-loginMail);
  /* background-color: red; */
}

.input-iconPass {
  color: var(--border-wrapper-input-loginPass);
}

/* Login o Register */
.login-btn__accOrReg {
  height: 2.5rem;
  width: 100%;
  border-radius: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--ff);
  background-color: var(--mainColor);
}

.login-btn__accOrReg:hover {
  background-color: #0ba073;
}

/* Do u have an account? */
.btn__toggle__accOrReg {
  height: 2rem;
  width: 100%;
  margin-top: 8px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  color: #181818;
  background-color: #fff;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.container-modal__NewTask {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.modal-newTask {
  /* height: 15rem; */
  width: 18rem;
  padding: 2rem;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: var(--bg__modal);
  box-shadow: 0 8px 5rem rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.modal-newTask-h1 {
  font-size: 28px;
  padding-bottom: 12px;
  letter-spacing: -1px;
  overflow-y: hidden;
}

.modal-newTask-input {
  height: 8rem;
  padding: 8px;
  font-size: 18px;
  border: 2px solid var(--bg__modal-input-border);
  border-radius: 12px;
  outline: none;
  color: var(--18);
  background-color: var(--bg__modal-input);
}

.modal-newTask-input::-webkit-scrollbar {
  width: 8px;
  border: none;
}

.modal-newTask-input::-webkit-scrollbar-thumb {
  border-radius: 12px;
  height: 10%;
  width: 10%;
  background-color: var(--mainColor);
}

.modal-newTask-input:focus {
  border: 2px solid var(--mainColor);
}

.modal-newTask-addButton {
  height: 2.5rem;
  width: 100%;
  margin-top: 8px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  outline: none;
  overflow-y: hidden;
  color: var(--ff);
  background-color: var(--mainColor);
}

.modal-newTask-addButton:hover {
  cursor: pointer;
}

/* diana */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.container-tasks {
  margin-top: 5rem;
  background: none;
}

.tasks-header__h1 {
  letter-spacing: -1px;
  padding-left: 1rem;

}

.tasks {
  margin-top: 1rem;
  padding: 0 1rem;
  display: grid;
  gap: 2rem 10px;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  align-items: center;
  justify-items: center;
}


.task {
  padding: 1rem;
  border: 1px solid var(--border__task);
  border-radius: 14px;
  background-color: var(--ff);
}

.task-p {
  font-size: 18px;
  text-align: center;
  pointer-events: none;
}

.taskDescription {
  --max-lines: 1;
  --line-height: 1.6;
  width: 15rem;
  border-radius: 12px;

  margin-top: 8px;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}

.taskDescription:has(+ .btn-expandDescriptionTask:not(:checked))::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: calc(1.6em * var(--line-height));
  width: 100%;
  /* pointer-events: none; */
  background: linear-gradient(to bottom, transparent, var(--ff));
  z-index: 97;
}

.btn-expandDescriptionTask {
  appearance: none;
  min-width: 100%;
  min-height: 2.3rem;
  margin-top: 8px;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color__btn-expand);
  background-color: var(--bg__btn-expand);
}

.btn-expandDescriptionTask::before {
  content: "Ver";
}

.btn-expandDescriptionTask:checked::before {
  content: "Ocultar";
}

/* Now the has selector goes in action */
.taskDescription:has(+ .btn-expandDescriptionTask:checked) {
  max-height: none;
}

.task__btn-complete {
  min-height: 2.3rem;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  outline: none;
  color: var(--ff);
  background-color: var(--mainColor);
}


.overlay,
.overlayDelete {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.navBar-desktop {
  overflow-y: hidden;
  width: 100%;
  height: 3rem;
  border-bottom: 4px solid var(--mainColor);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr repeat(3, 8rem);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
}

.navBar-desktop img {
  padding-left: 1rem;
}

.navBar-btn {
  font-weight: 600;
  letter-spacing: -.3px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-items: center;
  background: none;
  border: none;
}


.navBar__btn__svg-addTask,
.navBar__btn__svg-moon,
.navBar__btn__svg-sun,
.navBar__btn__svg-power {
  height: 20px;
}

.navBar__btn__svg-addTask {
  color: var(--mainColor);
}

.navBar__btn__svg-power {
  color: rgb(255, 62, 62);
}

.navBar-btn:hover {
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.navBar-mobile {
  width: 100%;
  height: 3.3rem;
  border-top: 2px solid var(--mainColor);
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  justify-items: center;
  overflow: visible;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--ff);
}

.navBar__mobile-btn {
  gap: 4px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--ff);
}

.navBar__mobile-btnAdd {
  height: 4.2rem;
  width: 4.2rem;
  margin-top: -2rem;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left bottom, var(--mainColor), var(--mainColor-shade));
  box-shadow: 0px 6px 15px rgb(0, 0, 0, 0.25);
}

.navBar__mobile-btnAdd:hover {
  cursor: pointer;
}

.navBar__mobile-btnAdd svg {
  color: #fff;
}

.navBarMobile__btn__svg-addTask,
.navBarMobile__btn__svg-moon,
.navBarMobile__btn__svg-sun,
.navBarMobile__btn__svg-power {
  height: 20px;
}

.navBarMobile__btn__svg-addTask {
  height: 32px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.confirmDelete {
  width: 19rem;
  padding: 2rem 2rem 1.6rem 2rem;
  display: flex;
  gap: 14px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: var(--bg__modal);
  box-shadow: 0 8px 5rem rgba(0, 0, 0, 0.2);
  z-index: 99;
  background-color: var(--bg__modal);
}

.confirmDelete-h4 {
  font-size: 26px;
}

.confirmDelete-p {
  padding: 12px;
  border-radius: 12px;
  font-weight: 16px;
  line-height: 1.5;
  text-align: center;
  border: 1px solid var(--bg__modal-input-border);
  background-color: var(--bg__modal-input);
}

.confirmDelete-btn-quitModal,
.confirmDelete-btn-deleteTask {
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color__btn-expand);
  background-color: var(--ff);
  box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.1);
}

.confirmDelete-btn-deleteTask {
  color: #fff;
  background-color: #ff3d3d;
  box-shadow: none;
}

.confirmDelete-btn-quitModal:hover {
  cursor: pointer;
  box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.16);
}

.confirmDelete-btn-deleteTask:hover {
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* tools */
.hidden {
  display: none;
}