@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  /* main colors */
  --mainColor: #4263eb;
  --mainColor-tint: #5573ed;
  --mainColor-shade: #3b59d4;

  /* secondary colors */
  --black18: #181818;
  --bg: #f2f2f7;
  --ff: #fff;

  /* tertiary colors */
  --border-wrong: #df0000;

  /* Foreground */
  --fr-btn-expand: #181818;
  --fr-descriptions: #5d5a5a;
  /* Background */
  --bg-btn-expand: #f2f2f7;
  --bg-modal: #f2f2f7;
  --bg-modal-input: #fff;
  --bg-modal-input-border: #c9c9c9;
  --bg-modal-inputTitle-border: #c9c9c9;
  --bg-task: #fff;
  --bg-fadeEffect: #fff;
  --bg-blur-navBar: #ffffff66;

  /* SignIn.jsx */
  --borderInput-signIn-mail: #c5c5c5;
  --borderInput-signIn-pass: #c5c5c5;
  --fr-svg-mail: #727272;
  --fr-svg-pass: #727272;

  --border-task: #c9c9c9;
  /* SignUp.jsx */
  --borderInput-name: #c5c5c5;
  --borderInput-mail: #c5c5c5;
  --borderInput-pass: #c5c5c5;
  --borderInput-passConfirm: #c5c5c5;

  --shadow-finder: 0px 20px 18px -18px #155ba633;

  --zindex-msg: 101;
}

::selection {
  background-color: var(--mainColor);
  color: var(--ff);
}

::-moz-selection {
  background-color: var(--mainColor);
  color: var(--ff);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--black18);
  background-color: var(--bg);
}

button {
  font-size: 16px;
}

button,
input {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

input,
textarea {
  font-family: "Inter", sans-serif;
  caret-color: var(--mainColor);
  color: var(--black18);
  background-color: #fff;
}

/* /////////////////////////////////////////////////////// */
/* AddTask.jsx */

.modal-newTask {
  width: 21rem;
  padding: 2rem 1.5rem;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: var(--bg-modal);
  box-shadow: 0 4px 12px 0px #00000068;
  z-index: 99;
}

/* /////////////////////////////////////////////////////// */
.container-tasks {
  background: none;
}

.tasks {
  margin-top: 2rem;
  padding: 0 3rem;
  padding-bottom: 6rem;
  display: grid;
  gap: 2rem 3.8rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  justify-items: center;
}

.task {
  margin: 18px;
  width: 20.5rem;
  padding: 1.2rem;
  border-radius: 14px;
  /* border: 2px dashed #818181; */
  box-shadow: 0px 3px 20px #00000014;
  background: var(--bg-task);
}


/* NoTaskSection.tsx */
.no-task {
  height: 10rem;
  width: 100%;
  margin: 2.5rem 0 3.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1.1rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;

  & svg {
    color: var(--mainColor);
  }

  & span {
    font-size: 2rem;
  }
}


.task-title {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -0.5px;
  pointer-events: none;
  color: var(--mainColor);
}

.task-p {
  font-size: 18px;
  pointer-events: none;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.taskDescription {
  --max-lines: 4;
  --line-height: 1.6;
  width: 16rem;
  border-radius: 12px;
  text-align: start;

  margin-top: 6px;
  margin-bottom: 8px;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}

.taskDescription:has(+ .btn-expandDescriptionTask:not(:checked))::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: calc(1.6em * var(--line-height));
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--bg-fadeEffect));
  z-index: 90;
}

.btn-expandDescriptionTask {
  appearance: none;
  min-width: 100%;
  min-height: 44px;
  margin-top: 8px;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fr-btn-expand);
  background-color: var(--bg-btn-expand);
}

.btn-expandDescriptionTask::before {
  content: "Expandir";
}

.btn-expandDescriptionTask:checked::before {
  content: "Ver menos";
}

/* Now the has selector goes in action */
.taskDescription:has(+ .btn-expandDescriptionTask:checked) {
  max-height: none;
}

.wrapper-task-buttons {
  display: grid;
  gap: 14px;
  margin-top: .5rem;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  overflow: visible;
}

.task__btn-complete {
  height: 46px;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
  border: none;
  outline: none;
  background: linear-gradient(to top right, #3b59d4, #6681ed);
  transition: transform .7s;
  -webkit-user-select: all !important;
  user-select: all !important;
}

.task__btn-complete:hover {
  cursor: pointer;
  transform: scale(.9, .9);
}

.btn-copy {
  height: 48px;
  border-radius: 8px;
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: var(--black18);
  background-color: var(--bg-btn-expand);
  transition: transform .7s;
}

.btn-copy:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
}

.overlay,
.overlayDelete {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}

/* /////////////////////////////////////////////////////// */
/* Tasks.jsx */
.confirmDelete {
  width: 19rem;
  padding: 2rem 2rem 1.6rem 2rem;
  display: flex;
  gap: 14px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: var(--bg-modal);
  z-index: 99;
  background-color: var(--bg-modal);
  box-shadow: 0 10px 10px 4px #00000038;

  & h4 {
    font-size: 22px;
    text-align: center;
  }

  & p {
    padding: 12px;
    border-radius: 12px;
    line-height: 1.5;
    text-align: center;
    border: 1px solid var(--bg-modal-input-border);
    background-color: var(--bg-modal-input);
  }

  & footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
  }

  & button {
    height: 48px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    color: var(--fr-btn-expand);
    background-color: var(--ff);
    box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.1);
    transition: transform .7s;

    &:hover {
      transform: scale(0.9, 0.9);
      cursor: pointer;
    }
  }

  & button:last-child {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    color: white;
    background: linear-gradient(to bottom left, #ff8282, #ff1111);
  }
}

/* ///////////////////////////////////////////////////// */
/* SignUp.jsx */
.btn-showPass-svg,
.btn-hidePass-svg,
.btn-showPassConfirm-svg,
.btn-hidePassConfirm-svg {
  height: 24px;
  color: var(--mainColor);
}

/* ///////////////////////////////////////////////////// */
/* Appearance.jsx */
.btn-Dark,
.btn-Light {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 9/10;
  /* position: fixed;
  top: 54px;
  right: 20px; */
  /* background: none;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  /* z-index: 100; */

}

/* //////////////////////////////// */
/* tools */
.hidden {
  display: none;
}

.gradientText {
  background-color: #4463e0;
  background-size: 100%;
  background-image: linear-gradient(365deg, #4463e0, #75c1cf);
  background-image: conic-gradient(365deg, #4463e0, #75c1cf);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.blueText {
  color: var(--mainColor);
}

/* ///////////////////////////////////////////////////// */
/* Finder.jsx */
.section-finder {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-finder {
  margin-top: 3rem;
  position: relative;
  width: 19rem;
  height: 48px;
  display: grid;
  grid-template-columns: 10% 80% 1fr;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 12px;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: var(--ff);
  box-shadow: var(--shadow-finder);

  & svg:first-child {
    color: var(--mainColor-shade);
  }

  & svg:last-child {
    color: #ff2d2d;
  }
}

.container-finder:before {
  content: "";
  position: absolute;
  background: var(--mainColor);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.container-finder:focus-within {
  border-radius: 3px;
}

/* animated border */
.container-finder:focus-within:before {
  transform: scale(1);
}

.input {
  height: 100%;
  width: 100%;
  padding-left: 8px;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.input:focus {
  outline: none;
}

.finder-btnClose {
  padding: 0;
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown)~.finder-btnClose {
  opacity: 1;
  visibility: visible;
}

/* Loader.jsx */
.container-loaderBar {
  height: 100vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderBar {
  display: block;
  width: 130px;
  height: 6px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loaderBar::before {
  content: "";
  position: absolute;
  background: var(--mainColor-tint);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: movingLoaderBar .7s ease-in-out infinite;
}

@keyframes movingLoaderBar {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}