@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --mainColor: #4263eb;
  --mainColorTint: #5573ed;
  --mainColorShade: #3b59d4;

  --black18: #181818;
  --bg: #f2f2f7;
  --ff: #fff;

  --frBtnExpand: #181818;
  --frWelcomeMessage: #5d5a5a;

  --bgBtnExpand: #f2f2f7;
  --bgModal: #f2f2f7;
  --bgInputModal: #fff;
  --bgTask: #fff;
  --bgFadeEffect: #fff;

  --borderInputNewTaskTitle: #c9c9c9;
  --borderInputNewTaskDescription: #c9c9c9;
  --borderInputLoginMail: #c5c5c5;
  --borderInputLoginPass: #c5c5c5;
  --borderTask: #c9c9c9;

  --colorIconMail: #727272;
  --colorIconPass: #727272;

  --borderInputName: #c5c5c5;
  --borderInputMail: #c5c5c5;
  --borderInputPass: #c5c5c5;
  --borderInputPassConfirm: #c5c5c5;

  --shadowFinder: 0px 20px 18px -18px #155ba633;

  --zIndexMsg: 101;
  --zIndexPopup: 99;
  --zIndexOverlay: 98;
  --zIndexBlurOverCircles: 2;
  --zIndexContainerCircles: 1;
  --zIndexNavigationBar: 90;
}

#rootDarkMode {
  --mainColor: #5573ed;

  --black18: #fff;
  --bg: #181818;
  --ff: #363636;

  --frBtnExpand: #fff;
  --frWelcomeMessage: #f2f2f7;

  --bgBtnExpand: #343333;
  --bgModal: #242424;
  --bgInputModal: #262626;
  --bgTask: linear-gradient(180deg, #242424, #121212, 65.62%);
  --bgFadeEffect: transparent;

  --borderInputNewTaskTitle: #333333;
  --borderInputNewTaskDescription: #333333;
  --borderTask: transparent;

  --shadowFinder: transparent;
}

::selection {
  background-color: var(--mainColor);
  color: var(--ff);
}

::-moz-selection {
  background-color: var(--mainColor);
  color: var(--ff);
}

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--black18);
  background-color: var(--bg);
}

button {
  font-size: 16px;
}

button,
input {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

input,
textarea {
  font-family: "Inter", sans-serif;
  caret-color: var(--mainColor);
  color: var(--black18);
  background-color: #fff;
}

.overlay {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zIndexOverlay);
}

/* ///////////////////////////////////////////////////// */
/* Appearance.jsx */
.btn-Dark,
.btn-Light {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 9/10;
  /* position: fixed;
  top: 54px;
  right: 20px; */
  /* background: none;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
  /* z-index: 100; */

}

/* //////////////////////////////// */
/* tools */
.gradientText {
  background-color: #4463e0;
  background-size: 100%;
  background-image: linear-gradient(365deg, #4463e0, #75c1cf);
  background-image: conic-gradient(365deg, #4463e0, #75c1cf);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.blueText {
  color: var(--mainColor);
}

.hidden {
  display: none !important;
}

/* ///////////////////////////////////////////////////// */
/* Finder.jsx */
.section-finder {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-finder {
  margin-top: 3rem;
  position: relative;
  width: 19rem;
  height: 48px;
  display: grid;
  grid-template-columns: 10% 80% 1fr;
  align-items: center;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 12px;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: var(--ff);
  box-shadow: var(--shadowFinder);

  & svg:first-child {
    color: var(--mainColorShade);
  }

  & svg:last-child {
    color: #ff2d2d;
  }
}

.container-finder:before {
  content: "";
  position: absolute;
  background: var(--mainColor);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.container-finder:focus-within {
  border-radius: 3px;
}

/* animated border */
.container-finder:focus-within:before {
  transform: scale(1);
}

.input {
  height: 100%;
  width: 100%;
  padding-left: 8px;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.input:focus {
  outline: none;
}

.finder-btnClose {
  padding: 0;
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown)~.finder-btnClose {
  opacity: 1;
  visibility: visible;
}



/* Loader.jsx */
.container-loaderBar {
  height: 100vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderBar {
  display: block;
  width: 130px;
  height: 6px;
  border-radius: 30px;
  background-color: #00000033;
  position: relative;
}

.loaderBar::before {
  content: "";
  position: absolute;
  background: var(--mainColorTint);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: movingLoaderBar .7s ease-in-out infinite;
}

.layoutDashboard {
  display: grid;
  grid-template-columns: 4.2rem 1fr;
  grid-template-areas: "sidebar main";
  z-index: -2;
}

.wrapperAppearance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes movingLoaderBar {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@media (max-width: 664px) {
  .layoutDashboard {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
}